<div class="container-fluid px-5">
  <div class="row">
    <div class="col-12 col-md-4">

    </div>

    <div class="col-12 col-md-8">
      <h5 class="mb-5">Nos modules de formations conçus pour : </h5>
      <h1>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        LES ETUDIANTS
      </h1>
      <div class="row">
        <div class="col-12 mt-3" *ngFor="let f of formations">
          <h3>{{f.name}}</h3>
        </div>
      </div>

      <h1 class="mt-5">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        LES ENTREPRISES
      </h1>
      <div class="row">
        <div class="col-12 mt-3" *ngFor="let f of formations">
          <h3>{{f.name}}</h3>
        </div>
      </div>
    </div>
  </div>

</div>
