h3{
  font-size: 14px;
  font-weight: 700 !important;
  color: white;
}
h1{
  font-size: 22px;
  color: white;
}

h5{
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 800;

}

.container-fluid{
  background-color: var(--primary);
  padding-top: 5em;
  padding-bottom: 5em;
}
