<!-- Contact Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact">
  <p *ngIf="session == undefined" >Pas de session en court</p>
  <div class="container py-5" *ngIf="session != undefined">
      <div class="row g-5">
          <div class="col-lg-7">
              <div class="section-title position-relative pb-3 mb-5">
                  <h5 class="fw-bold text-primary text-uppercase">Session en court</h5>
                  <h1 class="mb-0">Inscriez-vous nombre de place limité</h1>
              </div>

              <img [src]="session?.url"  class="img-fluid"/>
          </div>
          <div class="col-lg-5">
            <h5 class="fw-bold text-primary text-uppercase">Je m'inscris</h5>
             <app-formation-form [formation]="session?.id"></app-formation-form>
          </div>
      </div>
  </div>
</div>
<!-- Contact End -->
