<app-carousel></app-carousel>
 <!-- Full Screen Search Start -->
 <div class="modal fade" id="searchModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
      <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
          <div class="modal-header border-0">
              <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex align-items-center justify-content-center">
              <div class="input-group" style="max-width: 600px;">
                  <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                  <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Full Screen Search End -->


<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0">
  <div class="container py-5 pt-lg-0">
      <div class="row gx-0">
          <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
              <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                  <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                      <i class="fa fa-users text-primary"></i>
                  </div>
                  <div class="ps-4">
                      <h5 class="text-white mb-0">Etudiants formés</h5>
                      <h1 class="text-white mb-0" data-toggle="counter-up">345</h1>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
              <div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                  <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                      <i class="fa fa-check text-white"></i>
                  </div>
                  <div class="ps-4">
                      <h5 class="text-primary mb-0">Professionels formés</h5>
                      <h1 class="mb-0" data-toggle="counter-up">125</h1>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
              <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                  <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                      <i class="fa fa-award text-primary"></i>
                  </div>
                  <div class="ps-4">
                      <h5 class="text-white mb-0">Attestations délivrées</h5>
                      <h1 class="text-white mb-0" data-toggle="counter-up">145</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Facts Start -->


<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
      <div class="row g-5">
          <div class="col-lg-7">
              <div class="section-title position-relative pb-3 mb-5">
                  <h5 class="fw-bold text-primary text-uppercase">Qui sommes-nous ?</h5>
                  <h1 class="mb-0">Apprendre par la pratiques</h1>
              </div>
              <p class="mb-4">
                Avec CIREC, vous pouvez acquérir les compétences nécessaires pour travailler dans le domaine de la comptabilité et de la fiscalité au Sénégal. Nos formations vous offrent une expérience d'apprentissage pratique, avec des formateurs qualifiés et expérimentés
              </p>
              <div class="row g-0 mb-3">
                  <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                      <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Attestation de formation</h5>
                      <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Attestation de stage</h5>
                  </div>
                  <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                      <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>24/7 Support</h5>
                      <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Prix abordable</h5>
                  </div>
              </div>
              <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                  <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                      <i class="fa fa-phone-alt text-white"></i>
                  </div>
                  <div class="ps-4">
                      <h5 class="mb-2">Une question ? appelez le</h5>
                      <h4 class="text-primary mb-0">(+221) 33 825 60 24</h4>
                  </div>
              </div>
              <a href="quote.html" class="btn btn-secondary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Plus d'infos</a>
          </div>
          <div class="col-lg-5" style="min-height: 500px;">
              <div class="position-relative h-100">
                  <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="assets/img/about.jpg" style="object-fit: cover;">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About End -->


<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
          <h5 class="fw-bold text-primary text-uppercase">Pourquoi cirec ?</h5>
          <h1 class="mb-0">CIREC vous propose des cours de pratique comptable et fiscale</h1>
      </div>
      <div class="row g-5">
          <div class="col-lg-4">
              <div class="row g-5">
                  <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                      <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                          <i class="fa fa-cubes text-white"></i>
                      </div>
                      <h4>L'excellence</h4>
                      <p class="mb-0"> CIREC s'engage à fournir une formation de qualité, en se basant sur en se basant sur la pratique</p>
                  </div>
                  <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                      <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                          <i class="fa fa-award text-white"></i>
                      </div>
                      <h4>La flexibilité</h4>
                      <p class="mb-0"> CIREC s'adapte aux besoins des apprenants tout en garantissant la qualité des ces formations</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
              <div class="position-relative h-100">
                  <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="assets/img/feature.jpg" style="object-fit: cover;">
              </div>
          </div>
          <div class="col-lg-4">
              <div class="row g-5">
                  <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                      <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                          <i class="fa fa-users-cog text-white"></i>
                      </div>
                      <h4>Une équipe dévouée</h4>
                      <p class="mb-0">Notre équipe s'engange à vous accompanger avec le plus grand professionnalisme durant toute la formation</p>
                  </div>
                  <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                      <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                          <i class="fa fa-phone-alt text-white"></i>
                      </div>
                      <h4>24/7 Support</h4>
                      <p class="mb-0">Vous besoins sont notre priorité, vous pouvez compter sur nous pour vous assister à tout moment</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-formations></app-formations>

<!-- Quote Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
      <div class="row g-5">
          <div class="col-lg-7">
              <div class="section-title position-relative pb-3 mb-5">
                  <h5 class="fw-bold text-primary text-uppercase">Nous-contacter</h5>
                  <h1 class="mb-0">Besoin d'info ? N'hésitez pas à nous contacter</h1>
              </div>
              <div class="row gx-3">
                  <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                      <h5 class="mb-4"><i class="fa fa-reply text-primary me-3"></i>Réponse en moins de 24H</h5>
                  </div>
                  <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                      <h5 class="mb-4"><i class="fa fa-phone-alt text-primary me-3"></i>Joignable au téléphone</h5>
                  </div>
              </div>
              <p class="mb-4">
                Notre équipe de formateurs expérimentés et passionnés se tient à votre disposition pour répondre à toutes vos questions et vous accompagner tout au long de votre parcours de formation. Nous sommes là pour vous aider à acquérir des compétences précieuses pour votre carrière.
              </p>
              <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
                  <div class="bg-secondary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                      <i class="fa fa-phone-alt text-white"></i>
                  </div>
                  <div class="ps-4">
                      <h5 class="mb-2">Appeler pour plus d'infos</h5>
                      <h4 class="text-secondary mb-0">+221 33 825 60 24</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-5">

              <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">

                  <form>
                   <h5 class="mb-4 text-white">Envoyez votre message</h5>
                      <div class="row g-3">
                          <div class="col-xl-12">
                              <input type="text" class="form-control bg-light border-0" placeholder="Votre Nom" style="height: 55px;">
                          </div>
                          <div class="col-12">
                              <input type="email" class="form-control bg-light border-0" placeholder="Votre Email" style="height: 55px;">
                          </div>
                          <div class="col-12">
                              <textarea class="form-control bg-light border-0" rows="3" placeholder="Votre Message"></textarea>
                          </div>
                          <div class="col-12">
                              <button class="btn btn-dark w-100 py-3" type="submit">Envoyer</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Quote End -->



<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
          <h5 class="fw-bold text-primary text-uppercase">Notre Equipe</h5>
          <h1 class="mb-0">Notre équipe de formateurs expérimentés et passionnés</h1>
      </div>
      <div class="row g-5">
          <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
              <div class="team-item bg-light rounded overflow-hidden">
                  <div class="team-img position-relative overflow-hidden">
                      <img class="img-fluid w-100" src="assets/img/team-1.jpg" alt="">
                      <div class="team-social">
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                      </div>
                  </div>
                  <div class="text-center py-4">
                      <h4 class="text-primary">Full Name</h4>
                      <p class="text-uppercase m-0">Designation</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
              <div class="team-item bg-light rounded overflow-hidden">
                  <div class="team-img position-relative overflow-hidden">
                      <img class="img-fluid w-100" src="assets/img/team-2.jpg" alt="">
                      <div class="team-social">
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                      </div>
                  </div>
                  <div class="text-center py-4">
                      <h4 class="text-primary">Full Name</h4>
                      <p class="text-uppercase m-0">Designation</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
              <div class="team-item bg-light rounded overflow-hidden">
                  <div class="team-img position-relative overflow-hidden">
                      <img class="img-fluid w-100" src="assets/img/team-3.jpg" alt="">
                      <div class="team-social">
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                      </div>
                  </div>
                  <div class="text-center py-4">
                      <h4 class="text-primary">Full Name</h4>
                      <p class="text-uppercase m-0">Designation</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Team End -->





<!-- Vendor Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5 mb-5">
      <div class="bg-white">
          <div class="owl-carousel vendor-carousel">
              <img src="assets/img/vendor-1.jpg" alt="">
              <img src="assets/img/vendor-2.jpg" alt="">
              <img src="assets/img/vendor-3.jpg" alt="">
              <img src="assets/img/vendor-4.jpg" alt="">
              <img src="assets/img/vendor-5.jpg" alt="">
              <img src="assets/img/vendor-6.jpg" alt="">
              <img src="assets/img/vendor-7.jpg" alt="">
              <img src="assets/img/vendor-8.jpg" alt="">
              <img src="assets/img/vendor-9.jpg" alt="">
          </div>
      </div>
  </div>
</div>
<!-- Vendor End -->
