<app-carousel></app-carousel>
 <!-- Full Screen Search Start -->
 <div class="modal fade" id="searchModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
      <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
          <div class="modal-header border-0">
              <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex align-items-center justify-content-center">
              <div class="input-group" style="max-width: 600px;">
                  <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                  <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Full Screen Search End -->


<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0">
  <div class="container py-5 pt-lg-0">
      <div class="row gx-0">
          <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
              <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                  <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                      <i class="fa fa-users text-primary"></i>
                  </div>
                  <div class="ps-4">
                      <h5 class="text-white mb-0">Etudiants formés</h5>
                      <h1 class="text-white mb-0" data-toggle="counter-up">345</h1>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
              <div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                  <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                      <i class="fa fa-check text-white"></i>
                  </div>
                  <div class="ps-4">
                      <h5 class="text-primary mb-0">Professionels formés</h5>
                      <h1 class="mb-0" data-toggle="counter-up">125</h1>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
              <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                  <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                      <i class="fa fa-award text-primary"></i>
                  </div>
                  <div class="ps-4">
                      <h5 class="text-white mb-0">Attestations délivrées</h5>
                      <h1 class="text-white mb-0" data-toggle="counter-up">145</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Facts Start -->
<app-gallery></app-gallery>
<app-about-us></app-about-us>
<app-domaines></app-domaines>
<app-testimonials></app-testimonials>
<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
          <h5 class="fw-bold text-primary text-uppercase">Pourquoi cirec ?</h5>
          <h1 class="mb-0">CIREC vous propose des cours de pratique comptable et fiscale</h1>
      </div>
      <div class="row g-5">
          <div class="col-lg-4">
              <div class="row g-5">
                  <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                      <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                          <i class="fa fa-cubes text-white"></i>
                      </div>
                      <h4>Etudiants</h4>
                      <p class="mb-0">
                        Pour les étudiants, nos formations sont un excellent moyen de compléter leur formation académique avec des compétences pratiques et applicables sur le marché du travail.
                      </p>
                  </div>
                  <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                      <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                          <i class="fa fa-briefcase text-white"></i>
                      </div>
                      <h4>Professionnels</h4>
                      <p class="mb-0">
                        Pour les professionnels, nos formations leur permettent de maintenir et d'améliorer leurs compétences  et de mieux comprendre les défis auxquels leur entreprise peut être confrontée
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
              <div class="position-relative h-100">
                  <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="assets/img/img6.jpeg" style="object-fit: cover;">
              </div>
          </div>
          <div class="col-lg-4">
              <div class="row g-5">
                  <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                      <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                          <i class="fa fa-users-cog text-white"></i>
                      </div>
                      <h4>Une équipe dévouée</h4>
                      <p class="mb-0">Notre équipe s'engange à vous accompanger avec le plus grand professionnalisme durant toute la formation</p>
                  </div>
                  <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                      <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                          <i class="fa fa-phone-alt text-white"></i>
                      </div>
                      <h4>24/7 Support</h4>
                      <p class="mb-0">Vous besoins sont notre priorité, vous pouvez compter sur nous pour vous assister à tout moment</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<app-contact></app-contact>


<app-team></app-team>


