.video-cover{
  width: 100%;
  height: 440px;
  position: relative;
  background-color: var(--primary);
  &:hover{
    .pause{
      visibility: visible !important;
    }

  }
  .video-player{
    width: 100%;
   height: 440px;
   object-fit:contain;
    position: relative;
    position: absolute;



  }
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #06a2dabb;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  border: none;
  outline: none;

  i{
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 5px;

  }





  transition: all .5s;
  &:hover{
    scale: 1.03;
    background-color: #ffffffcd;
    i{
      color: var(--primary);
    }
  }



}

.pause{
  visibility: hidden;
}
