 <!-- Navbar Start -->
 <div class="container-fluid position-relative p-0">
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 30px;">

  </div>
</div>
<!-- Navbar End -->

<div class="container p-5">
  <div>
    <button  class="btn btn-primary" (click)="openDialog()" >Lancer une nouvelle session</button>
  </div>

  <div class="row mt-5">
   <div class="col-12 col-md-12" *ngFor="let session of sessions">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
       <span>Session de formation du {{session.start}} - {{session.end}}</span>
       <div>
        <button  class="btn btn-danger mx-3" (click)="delete(session.id)">Supprimer</button>
        <a  [href]="'sessions/'+session.id" class="btn btn-primary" >Voir les candatures</a>
       </div>
      </div>
      <div class="card-body p-0 pb-3 text-center">
          <img [src]="session?.url" class="img-fluid"  />
      </div>
    </div>
   </div>
  </div>
</div>
