<!--toast-->
<app-toast></app-toast>
<!--end-->
<!-- Topbar Start -->
<div class="container-fluid bg-dark px-5 d-none d-lg-block">
  <div class="row gx-0">
      <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
          <div class="d-inline-flex align-items-center" style="height: 45px;">
              <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Rond-point Jet d'Eau Immeuble G</small>
              <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+221 33 825 60 24</small>
              <small class="text-light"><i class="fa fa-envelope-open me-2"></i>cirec0513@gmail.com</small>
          </div>
      </div>
      <div class="col-lg-4 text-center text-lg-end">
          <div class="d-inline-flex align-items-center" style="height: 45px;">
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.facebook.com/cabinet.cirec?mibextid=LQQJ4d"><i class="fab fa-facebook-f fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.linkedin.com/company/cabinetcirec/"><i class="fab fa-linkedin-in fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://instagram.com/cirec_formation?igshid=OGQ5ZDc2ODk2ZA=="><i class="fab fa-instagram fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href="https://www.tiktok.com/@cabinetcirec0513?_t=8eks8bMSXVV&_r=1"><img src="../assets/img/tiktok.svg" /> </a>
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
