

<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
  <a href="/" class="navbar-brand p-0">
     <img  src="assets/img/logo.png" class="img-fluid" width="120px"/>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
          <a href="/" class="nav-item nav-link active">Acceuil</a>
          <a href="qui-sommes-nous" class="nav-item nav-link">Qui sommes-nous ?</a>
          <a href="services" class="nav-item nav-link">Nos Formations</a>
          <a href="contact" class="nav-item nav-link">Nous contacter</a>
      </div>
      <button type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
      <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a>
  </div>
</nav>
