

<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
  <a href="/" class="navbar-brand p-0">
     <img  src="assets/img/logo.png" class="img-fluid" width="120px"/>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
          <a routerLink="/"  [routerLinkActiveOptions]={exact:true} class="nav-item nav-link" routerLinkActive="active">Acceuil</a>
          <a routerLink="/qui-sommes-nous" class="nav-item nav-link" routerLinkActive="active" >Qui sommes-nous ?</a>
          <a routerLink="/services" class="nav-item nav-link" routerLinkActive="active">Nos Formations</a>
          <a routerLink="/contact" class="nav-item nav-link" routerLinkActive="active">Nous contacter</a>
      </div>
      <a href="services" class="btn btn-secondary 2 px-4 ms-3">Je m'inscris</a>
  </div>
</nav>
