<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
          <h5 class="fw-bold text-primary text-uppercase">Ecoutez les étudiants</h5>
          <h1 class="mb-0">Ils nous parlent de leur parcours chez CIREC</h1>
      </div>
      <div class="row g-5">
          <div *ngFor="let v of videos" class="col-12 col-md-6">
            <app-video-player [video]="v"></app-video-player>
          </div>
      </div>
  </div>
</div>
