<div class="container">
<p>
  CIREC est un cabinet de Renforcement de Capacités qui permet aux
  Etudiants et Professionnels d’accroitre leur performance et de s’adapter
  aux changements organisationnels de l’entreprise et aux évolutions
  technologiques.
</p>
<p>
  Sa principale mission est l’initiation et le renforcement des compétences
  des ressources humaines.
</p>
<p>
  CIREC est le reflet de la nécessite de soutenir les efforts de renforcement de
  capacités des administrations, des entreprises, des organisations non
  gouvernementales, mais aussi des professionnels.
</p>
<p>
  Notre intervention vise a améliorer l’organisation du travail, à installer le
  culte de la Performance en permanence à s’adapter aux avancées
  technologiques, à avoir une meilleure gestion du temps et accroitre ainsi la
  productivité de toute structure.
</p>


<h3>ETUDIANTS </h3>
<p>CIREC VOUS PROPOSE UNE FORMATION EN: </p>

<h1>CERTIFICAT ELEMENTAIRE COMPTABLE</h1>
<div>
  <p>CIBLE : Élèves en classe de Second, Première et Terminale</p>
  <div>
    <p>CADRE PEDAGOGIQUE : Formation Pratique avec Alternance Ecole/Entreprises</p>
    <ul>
      <li>GESTION DE STOCK</li>
      <li>GESTION DE CAISSE</li>
    </ul>
  </div>
  <p>DUREE DE LA FORMATION : NEUF (09) Mois</p>
  <p>EMPLOI DU TEMPS : 6H/Semaines</p>
  <p>LUNDI, MERCREDI et VENDREDI : 18H-20H</p>
  <p>SAMEDI : 15H-17H</p>
  <div>
    NB : Le CERTIFICAT sera délivré avec deux attestations :
    <ul>
      <li>ATTESTATION de stage en GESTION DE STOCK</li>
      <li>ATTESTATION de stage en GESTION DE CAISSE</li>
    </ul>
  </div>
  <div>
   <h4>PROGRAMMES</h4>
   <h5> ENSEIGNEMENT THEORIQUE :</h5>
   <ul>
    <li>COMPTABILITE GENERALE</li>
    <li>DROIT CIVILE</li>
    <li>TECHNIQUE DE COMMUNICATION</li>
    <li>ECONOMIE GENERALE</li>
    <li>EVALUATION</li>
   </ul>
   <h5>ENSEIGNEMENT PRATIQUE :</h5>
   <ul>
    <li>INITIATION</li>
    <li>PARAMETRAGE</li>
    <li>TRAITEMENT DE FICHIERS SUR LE LOGICIEL SAARI GESCOM (Gestion de stock et Gestion de caisse)</li>
   </ul>
  </div>




</div>

<h1>PRATIQUE COMPTABLE ET FISCALE (NIVEAU 1)</h1>
<div>
  <p>CIBLES : Etudiants en gestion et PROFESSIONNELS</p>
  <p>DUREE DE LA FORMATION : SIX(06) Mois + 2 mois de stage non rémunéré en cabinet</p>
  <p>HORAIRES : 6H/semaines</p>
  <p>EMPLOI DU TEMPS : 2 séances de 3H/semaines en jour et en soir</p>
  <h4>PROGRAMMES</h4>
  <h5>INITIATION AU LOGICIEL SAARI COMPTABILITE (SAGE 100)</h5>
  <ul>
    <li>Paramétrage de base</li>
    <li>Création d’un fichier comptable</li>
    <li>Cas pratiques</li>
    <li>Suivi et Evaluation</li>
  </ul>
  <h5>TENUE DE COMPTABILITE</h5>
  <ul>
    <li>Dépouillement des pièces Comptables</li>
    <li>Classement des pièces Comptables</li>
    <li>Enregistrement des pièces Comptables</li>
    <li>Analyses des comptes</li>
    <li>Rapprochement Bancaire</li>
    <li>Suivi et Evaluation</li>
  </ul>

   <h5>DECLARATIONS FISCALES</h5>
   <ul>
    <li>Déclaration de la TVA</li>
    <li>Déclaration des VRS</li>
    <li>Déclaration des BRS</li>
    <li>Cas pratiques</li>
    <li>Suivi et Evaluation</li>
   </ul>
   <h5>DECLARATIONS SOCIALES</h5>
   <ul>
    <li>Etats des salaires</li>
    <li>Déclaration de l’IPRES</li>
    <li>Déclaration de la CSS</li>
    <li>Cas pratiques</li>
   </ul>
   <h5>GESTION DE STOCK & GESTION DE CAISSE</h5>
   <h5>EXPOSES AU PROGRAMMES ET THEMES PROPOSEES</h5>
   <ul>
    <li>LE SYSCOHADA de son origine à nos jours</li>
    <li>
      Exposé sur le système d’évaluation et de prestations des
      déclarations. TVA, VRS, BRS, IPRES (Fonctionnement de
      l’IPRES, évaluations du nombre de parts et traitements des
      différents régimes.) C.S.S (Fonctionnement de la CSS,
      procédures à suivre par un accidenté de travail / Allocataire
      pour pouvoir bénéficier d’une indemnisation
    </li>
   </ul>
</div>


<h1>FORMATION PRATIQUE COMPTABLE ET FISCALE APPROFONDIE(NIVEAU 2)</h1>
<p>CIBLES: Etudiants en gestion et PROFESSIONNELS.</p>
<p>DUREE DE LA FORMATION : Huit (08) Mois</p>
<p>EMPLOI DU TEMPS : 3 Séances de 2H/semaines, en soir et en weekend.</p>
<p>MARDI et JEUDI : 18H-20H</p>
<p>SAMEDI : 12H-14H</p>
<div>
  <h4>PROGRAMMES</h4>
  <h5>TENUE DE COMPTABILITE</h5>
  <ul>
    <li>Dépouillement</li>
    <li>Classement</li>
    <li>Imputation</li>
    <li>Journalisation sur Maquette & Logiciel</li>
  </ul>
  <h5>DECLARATIONS FISCALES</h5>
  <ul>
    <li>Modalités de Régularisations de la TVA</li>
    <li>Gestion des Etats Trimestriels sur les sommes versées à des tiers</li>
    <li>Etat Annuel des Salaires : ETAT 1024</li>
    <li>Déclaration de Revenu Individuel</li>
    <li>Déclaration de la Contribution Economique Locale</li>
    <li>Déclaration de la Taxe Spéciale sur les Véhicules</li>
    <li>Déclaration Impôt sur les Sociétés et Impôt sur le Revenu</li>
    <li>Déclaration Contribution Globale Unique(CGU)</li>
  </ul>
  <h5>DECLARATION SOCIALE</h5>
  <ul>
    <li>Etat Récapitulatif Annuel IPRES et CSS</li>
    <li>SAARI</li>
    <li>SAARI Gestion Commerciale</li>
    <li>SAARI Paie</li>
  </ul>
  <h5>ETATS FINANCIERS</h5>
  <ul>
    <li>Système Minimal de Trésorerie</li>
    <li>Système Normal</li>
    <li>Déclaration Foncière</li>
    <li>Déclaration de Revenu Foncier</li>
    <li>Contribution Globale Foncière</li>
  </ul>
</div>


<h3>ENTREPRISES</h3>
<p>
  VOUS ETES :
  Entreprise du secteur Privé (Grande Entreprise, PME-PMI et TPE
  Entreprise nationale ou structure publique (Direction de Ministère,
  Agence, Office, Collectivités locales).
  ONG, Association et Organisme International.
  DECOUVREZ AVEC CIREC, LES DIMENSIONS DE LA TRANSFORMATION DE
  VOS RESSOURCES HUMAINES.
  VOUS VOULEZ :
  Atteindre vos objectifs de Performance
  Doper votre croissance
  Accélérer votre développement
  NOTRE AMBITION :
  Etre votre partenaire de choix qui vous accompagne dans la transformation
  de vos ressources humaines.
</p>

<h3>NOS ACTIVITES :</h3>
<h1>FORMATION-CONSEIL-ACCOMPAGNEMENT & COACHING</h1>
<p>
  UN CERCLE D’EXPERTS NATIONAUX ET ETRANGERS DE RENOMMEE
  INTERNATIONALE AU SERVICE DE LA TRANSFORMATION DE VOS RH
  NOS FORMATIONS :
  CIREC vous propose des formations sur mesure pour tous les secteurs
  d’activités.
  Toutes nos formations sont disponibles sous forme de séminaires
  intra-entreprise ;
  Sur demande, nous vous proposons des séminaires adaptés à vos
  besoins après un audit des compétences ;
  Choisissez vous-même le thème, la date et le lieu ;
  Les horaires sont flexibles pour les Professionnels.
</p>

<h1>SEMINAIRES DE RENFORCEMENT DE CAPACITES</h1>
<h3>THEMES</h3>
<div>
  <h3>POUR LES ENTREPRISES DU SECTEUR PRIVES</h3>
  <ul>
    <li>La Pratique Comptable et Fiscale</li>
    <li>Les Origines du SYSCOA, SYSCOHADA et SYSCOA REVISE à nos jours</li>
    <li>Le Pilotage de la Stratégie</li>
    <li>Le Management d’équipe pour la Performance</li>
    <li>La Gestion des projets Commerciaux</li>
    <li>Education Financière et Investissement en Bourse en Afrique</li>
    <li>Management des risques</li>
    <li>La Gestion Optimale de la Trésorerie</li>
    <li> La Gestion des stocks</li>
    <li>La Gestion efficace des Ressources Humaines</li>
    <li>La Gestion Prévisionnelle des Emplois et des Compétences (GPEC)</li>
    <li>La Bureautique</li>
    <li>Marketing et Actions Commerciales</li>
    <li>Droit Comptable & Droit Social</li>
    <li>La Logistique</li>
    <li>La Fiscalité</li>
    <li>Le Développement Personnel</li>
  </ul>

  <h3>POUR LE SECTEUR PUBLIC & LES ONG</h3>
  <ul>
    <li>La Gestion axée sur les résultats(GAR) : le Management par la performance et ses outils</li>
    <li>La Planification</li>
    <li>Le suivi et l’évaluation des projets/Programmes</li>
    <li>Le Management Stratégique et Organisationnel</li>
    <li>Le Management Stratégique et Opérationnel</li>
    <li>La Passation et l’exécution des marches de services, les fournitures et les travaux</li>
    <li>La Gestion de marches publique</li>
    <li>La gouvernance des structures décentralisées</li>
  </ul>

  <h3>ACCOMPAGNEMENT & CONSEIL</h3>
  <p>
    A l’issue des formations, nous accompagnons les ressources humaines dans leur
    Processus de transformation au sein de leur organisation.
    Le contrat d’accompagnement permettra de suivre le redéploiement du
    personnel. Apres le test d’évaluation, CIREC délivre un certificat de Compétences a
    l’employé.
    CIREC vous accompagne aussi à la recherche permanente de solutions aux
    problématiques de votre organisation face à des situations complexes de
    PERFORMANCE, de RENTABILITE, de CROISSANCE du CHIFFRE D’AFFAIRES, de
    GOUVERNANCE EFFICACE, CIREC avec son cercle d’Experts vous ECOUTE, vous
    CONSEILLE, vous FORME et vous ACCOMPAGNE.
  </p>
  <h3>COACHING INDIVIDUEL</h3>
  <p>
    Vous voulez insufflez une nouvelle dynamique a votre carrière professionnelle,
    CIREC vous propose un coaching individuel pour :
  </p>
  <ul>
    <li>Un développement personnel individuel et collectif</li>
    <li>Une nouvelle orientation de votre carrière</li>
    <li>Un changement important de l’organisation</li>
    <li>Des projets à faire aboutir</li>
    <li>Des compétences spécifiques a développés</li>
    <li>Des difficultés temporaires</li>
  </ul>
  <p>
    Par rapport à votre domaine de compétences, un expert de CIREC est prêt à
    emprunter avec vous le chemin du Perfectionnement, selon votre rythme, suivant
    une démarche a la carte qui vous permettra de répondre rapidement à vos
    besoins en toute confidentialité.
  </p>

  <h5>Coaching D’équipe</h5>
  <p>
    CIREC plonge votre équipe (Service, Direction, Département) dans un univers de
    culte de la performance.
    CIREC accompagne chaque année de nombreuses équipes dans un cadre de
    démarches de développement Organisationnel.
  </p>
  <ul>
    <li>Aider à l’atteinte de vos objectifs de développement</li>
    <li>Mettre sur pied un nouveau projet</li>
    <li>Revoir les modes de fonctionnement de votre structure et les procédures de travail</li>
    <li>Recentrer l’équipe sur ses priorités</li>
    <li>Faire accepter les modes de fonctionnement individuels différents</li>
    <li>Développer des compétences spécifiques au même rythme pour toute l’équipe</li>
  </ul>
</div>
</div>


